
body{
	margin: 0;
}

*{box-sizing: border-box;

}
.header{
	height: 150px;
	background-color: #ece8ff;
}

.menu{
	height: 50px;
	background-color: #ffa8ff;
}

.content{
	height: 600px; 
}
.footer{
	height: 250px;
	background-color: grey;
}
.wrap{
	width: 1024px;
	
	margin: 0 auto;
	height: inherit;
}